@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";



html {
    font-size: 13px;
}

.hide-scrollbar {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}
